/*
-------------------------------------------------
Common-------------------------------------------
-------------------------------------------------
*/

a.btn {
    all: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/*
-------------------------------------------------
Common-------------------------------------------
-------------------------------------------------
*/

#col-music .upgrade a.btn:hover {
    transform: scale(1.1);
    transition: 1s;
}

#col-music .music-box .categories li > a.btn:hover {
    transition: 1s;
    color: var(--bg-color1);
}