/*
-------------------------------------------------
Debug--------------------------------------------
-------------------------------------------------
*/

/* MAIN*/
.debug .col-nav {
    background-color: rgb(237, 98, 183);
    border: 1px dashed black;
}

.debug .col-music {
    background-color: rgb(63, 117, 233);
    border: 1px dashed black;
}

.debug .logo {
    background-color: palevioletred;
    border: 1px dashed white;
}
/* /MAIN*/

/* FOOTER*/
.debug footer {
    background-color: rgb(67, 177, 45);
    border: 1px dashed white;
    height: 90px;
}
/* /FOOTER*/