/*
-------------------------------------------------
Variables----------------------------------------
-------------------------------------------------
*/

:root {
    --bg-color1: #ffffff; /*white*/
    --bg-color2: #000000; /*nero*/
    --bg-color3: #141922; /*bg main*/
    --bg-color4: #282828; /*bg footer*/
    --bg-color5: #808080; /*user bg */
    --bg-color6: #a3a3a3; /*playlist plus -  text*/
    --bg-color8: #adff2f; /*hover*/

}

/*
-------------------------------------------------
Stile Css: mobile first--------------------------
-------------------------------------------------
*/

/* WebApp Spotify TOP*/

.main-container {
    height: calc(100vh - 90px);
}

/*SIDENAV*/
/* container col-nav*/
.col-nav {
    width: 50px;
    flex-shrink: 0;
    padding: 5px 0;
    background-color: var(--bg-color2);
}
/* /container col-nav*/
/* Sidernav: top */
.logo .logotipo.image.from-s {
    display: none;
}

.logo .logo-small.image.only-xs {
    display: flex;
}

.logo .logotipo {
    width: 130px;
}

.logo .logo-small {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 10px
}

ul.menu li a.btn {
    color: var(--bg-color6);
}

.menu li a img {
    width: 25px;
}

.menu li .btn h5.from-s,
.account .user-image h3.from-s {
    display: none;
}

ul.menu li a > img {
    padding-bottom: 10px;
}

.account > div.download, div.user-image {
    padding: 10px 0;
}

a.btn.flex-row,
.user-image.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist.from-s {
    display: none;
    overflow: hidden;;
}

.playlist ul.list {
    overflow-y: auto;
}
/* /Sidenav: top */

/* Sidenav: bottom */
.account .download a:first-child {
    border-bottom: #808080;
}

.account .download a:first-child i {
    font-size: 14px;
}

.account hr.from-s {
    display: none;
}
.account {
    margin-top: auto;
}

.account .download .btn h5.from-s {
    display: none;
}

.account .user-image img.image {
    border-radius: 50px;
    background-color: var(--bg-color5);
    width: 25px;
    height: 25px;
}
/* Sidenav: bottom */
/* /SIDENAV */

/* MUSIC SPACE*/
/* container col-music*/
.col-music {
    flex-grow: 1;
    background-color: var(--bg-color3);
}
/* /container col-music*/

/* Music: top */

/* /Music: top */

/* Music: bottom */

/* /Music: bottom */

/* /WebApp Spotify TOP*/

/* WebApp Spotify BOTTOM*/
/*FOOTER*/
/* container footer*/
.footer-container {
    max-width: 100%;
    height: 90px;
    background-color: var(--bg-color4);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
/* container footer*/

/* left footer */
/* /left footer */

/* center footer */
/* /center footer */

/* right footer */
/* /right footer */

/* WebApp Spotify BOTTOM*/