/*
-------------------------------------------------
Responsive---------------------------------------
-------------------------------------------------
*/

/* s */
@media screen and (min-width: 576px) {

    /*SIDENAV*/
    main #col-nav {
        width: 230px;
        flex-shrink: 0;
    }

    #col-nav {
        padding: 20px 0 5px;
    }
    
    .logo .logotipo.image.from-s {
        display: flex;
        margin: 0 0 23px 20px;
    } 
    
    .logo .logo-small.image.only-xs {
        display: none;
    }

    .menu li .btn h5.from-s,
    .menu li .flex-row {
        display: flex;
        gap: 10px
    }
    
    ul.menu img.image{
        padding: 0;
    }

    a.btn.flex-row,
    .account .download  {
        display: flex;
        justify-content: flex-start;
        padding: 7px 0 7px 20px;
    }

    .playlist.from-s {
        display: flex;
        margin: 18px 0 0 20px;
        color: var(--bg-color6);
        padding: 5px 0 0;
    }

    .playlist div.add.flex-row {
        margin-top: 5px;
    }

    .playlist ul.list > li {
        padding: 5px 0;
    }

    .playlist .add i {
        font-size: 38px;
        margin: 5px 0;
    }

    .playlist .add.flex-row {
        align-items: center;
    }

    .playlist.from-s h4 {
        color: var(--bg-color1);
    }

    .account .download .btn h5.from-s,
    .account .user-image .btn h3.from-s,
    .account .download .flex-row,
    .account .user-image .flex-row,
    .playlist .add {
        display: flex;
        gap: 10px;
    }

    .account > hr.from-s {
        display: flex;
        margin: 0 20px;
    }
/*SIDENAV*/

/*MUSIC SPACE*/
    .upgrade {
        right: 0;
        top: 0;
        left: 230px;
    }

}

/* md */
@media screen and (min-width: 768px) {

    #recent-list .row .track,
    #ai-list .row .track,
    #bestartist-list .row .track {
        flex-shrink: 0;
        width: calc((100% - 30px) / 4);
    }
}

/* l */
@media screen and (min-width: 992px) {

    #recent-list .row .track,
    #ai-list .row .track,
    #bestartist-list .row .track {
        flex-shrink: 0;
        width: calc((100% - 50px) / 6);
    }
}

/* xl */
@media screen and (min-width: 1200px) {

}