/*
-------------------------------------------------
Responsive---------------------------------------
-------------------------------------------------
*/

@media screen and (min-width: 576px) {

    main .col-nav {
        width: 250px;
        flex-shrink: 0;
    }

    div.from-md {
        display: block;
    }
}

@media screen and (min-width: 768px) {

   
}

@media screen and (min-width: 992px) {

}