/*
-------------------------------------------------
Typography---------------------------------------
-------------------------------------------------
*/

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
}


h3 /* ex John Doe, Titoli canzoni come Heavy Metal*/ {
    font-size: .75rem;
    font-weight: 900;
    color: var(--bg-color1);
}

h4 /* PLAYLIST e UPGRADE*/{
    font-size: .75rem;
    font-weight: 800;
    text-transform: uppercase;
}

h5 /* ex home, cerca, nome playlist, subtitle*/ {
    font-size: .75rem;
    font-weight: 600;
}