/*
-------------------------------------------------
Utility-------------------------------------------
-------------------------------------------------
*/

.image {
    width: 100%;
    display: block;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-btw {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}