/*
-------------------------------------------------
Utility-------------------------------------------
-------------------------------------------------
*/

.flex {
    display: flex;
}

.image {
    width: 100%;
    display: block;
}

.space-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

