/*
-------------------------------------------------
Variables----------------------------------------
-------------------------------------------------
*/

:root {
    --bg-color1: #080b12;
    --bg-color2: #141922;
    --bg-color3: #000000;
    --bg-color4: #282828;
    --bg-color5: #a3a3a3;
    --bg-color6: #ffffff;
    --bg-color7: #adff2f;
}